Repository ZeusNetworkHQ/bitcoin-kit-widget: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, pnpm playground lint --fix, pnpm widget lint --fix, pnpm client lint --fix, pnpm bitcoin lint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write"],
  "*.{json,md,yml,scss}": ["prettier --write"],

  "apps/playground/**/*.{js,jsx,ts,tsx}": ["pnpm playground lint --fix"],
  "packages/bitcoin-kit-widget/**/*.{js,jsx,ts,tsx}": [
    "pnpm widget lint --fix"
  ],
  "packages/client/**/*.{js,jsx,ts,tsx}": ["pnpm client lint --fix"],
  "packages/bitcoin-wallet-adapter/**/*.{js,jsx,ts,tsx}": [
    "pnpm bitcoin lint --fix"
  ]
}

feat: improve input field reset behavior when bitcoin wallet disconnects
  packages/bitcoin-kit-widget/src/features/withdraw/BitcoinAddressInput.tsx
Due: prettier --write, pnpm widget lint --fix

feat: reset widget when user switches wallets
  packages/bitcoin-kit-widget/src/features/widget.tsx
Due: prettier --write, pnpm widget lint --fix

feat: disconnect bitcoin wallet when solana account changes
  packages/bitcoin-kit-widget/src/features/widget.tsx
Due: prettier --write, pnpm widget lint --fix

fix: correct displaying destination address
  packages/bitcoin-kit-widget/src/features/deposit/DepositDetails.tsx
Due: prettier --write, pnpm widget lint --fix

feat: disconnect bitcoin wallet when derive wallet connector is renewed
  packages/bitcoin-wallet-adapter/src/components/BitcoinWalletProvider.tsx
Due: prettier --write, pnpm bitcoin lint --fix

feat: adjust widget behaviors (#48)
  packages/bitcoin-kit-widget/src/features/deposit/DepositDetails.tsx
  packages/bitcoin-kit-widget/src/features/widget.tsx
  packages/bitcoin-kit-widget/src/features/withdraw/BitcoinAddressInput.tsx
  packages/bitcoin-wallet-adapter/src/components/BitcoinWalletProvider.tsx
Due: prettier --write, pnpm widget lint --fix, pnpm bitcoin lint --fix

build: bump version to `0.2.5`
  packages/bitcoin-kit-widget/package.json
Due: prettier --write

feat: remove post cobo api when user create edra
  packages/client/src/apis/aegle.ts
  packages/client/src/models/edra.ts
Due: prettier --write, pnpm client lint --fix

feat: add guardian gating for EDRA creation
  packages/client/src/models/edra.ts
Due: prettier --write, pnpm client lint --fix

chore: remove unused code
  packages/client/src/models/edra.ts
Due: prettier --write, pnpm client lint --fix

feat: remove post cobo api when user create edra (#51)
  packages/client/src/apis/aegle.ts
  packages/client/src/models/edra.ts
Due: prettier --write, pnpm client lint --fix

build: bump version to `0.2.6`
  packages/bitcoin-kit-widget/package.json
Due: prettier --write
