Repository ZeusNetworkHQ/bitcoin-kit-widget: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, pnpm demo lint --fix, pnpm widget lint --fix, pnpm client lint --fix, pnpm bitcoin lint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write"],
  "*.{json,md,yml,scss}": ["prettier --write"],

  "apps/zeus-widget-demo/**/*.{js,jsx,ts,tsx}": ["pnpm demo lint --fix"],
  "packages/zeus-stack-widget/**/*.{js,jsx,ts,tsx}": ["pnpm widget lint --fix"],
  "packages/client/**/*.{js,jsx,ts,tsx}": ["pnpm client lint --fix"],
  "packages/bitcoin-wallet-adapter/**/*.{js,jsx,ts,tsx}": [
    "pnpm bitcoin lint --fix"
  ]
}

feat: apply gtm to widget to track user behaviors
  packages/zeus-stack-widget/package.json
  packages/zeus-stack-widget/src/components/GTMTracker.tsx
  packages/zeus-stack-widget/src/features/activity/ActivityList.tsx
  packages/zeus-stack-widget/src/features/activity/ActivityPage.tsx
  packages/zeus-stack-widget/src/features/deposit/DepositDetails.tsx
  packages/zeus-stack-widget/src/features/deposit/DepositPage.tsx
  packages/zeus-stack-widget/src/features/provider.tsx
  packages/zeus-stack-widget/src/features/widget.tsx
  packages/zeus-stack-widget/src/features/withdraw/BitcoinAddressInput.tsx
  packages/zeus-stack-widget/src/features/withdraw/WithdrawDetails.tsx
  packages/zeus-stack-widget/src/features/withdraw/WithdrawPage.tsx
  packages/zeus-stack-widget/src/utils/gtm.ts
  pnpm-lock.yaml
Due: prettier --write, pnpm widget lint --fix

Update packages/zeus-stack-widget/src/features/widget.tsx
  packages/zeus-stack-widget/src/features/widget.tsx
Due: prettier --write, pnpm widget lint --fix

feat: update zpl sdk
  packages/client/package.json
  packages/client/src/apis/hermes.schema.ts
  packages/client/src/layers/deposit.service.ts
  packages/client/src/layers/withdraw.service.ts
  packages/client/src/models/edra.ts
  packages/client/src/models/hot-reserve-bucket.ts
  packages/client/src/models/reserve-setting.ts
  packages/client/src/programs/zpl.ts
  packages/client/src/utils/bitcoin.ts
  pnpm-lock.yaml
Due: prettier --write, pnpm client lint --fix

feat: update zpl sdk (#26)
  packages/client/package.json
  packages/client/src/apis/hermes.schema.ts
  packages/client/src/layers/deposit.service.ts
  packages/client/src/layers/withdraw.service.ts
  packages/client/src/models/edra.ts
  packages/client/src/models/hot-reserve-bucket.ts
  packages/client/src/models/reserve-setting.ts
  packages/client/src/programs/zpl.ts
  packages/client/src/utils/bitcoin.ts
  pnpm-lock.yaml
Due: prettier --write, pnpm client lint --fix

feat: apply gtm to widget to track user behaviors (#25)
  packages/zeus-stack-widget/package.json
  packages/zeus-stack-widget/src/components/GTMTracker.tsx
  packages/zeus-stack-widget/src/features/activity/ActivityList.tsx
  packages/zeus-stack-widget/src/features/activity/ActivityPage.tsx
  packages/zeus-stack-widget/src/features/deposit/DepositDetails.tsx
  packages/zeus-stack-widget/src/features/deposit/DepositPage.tsx
  packages/zeus-stack-widget/src/features/provider.tsx
  packages/zeus-stack-widget/src/features/widget.tsx
  packages/zeus-stack-widget/src/features/withdraw/BitcoinAddressInput.tsx
  packages/zeus-stack-widget/src/features/withdraw/WithdrawDetails.tsx
  packages/zeus-stack-widget/src/features/withdraw/WithdrawPage.tsx
  packages/zeus-stack-widget/src/utils/gtm.ts
  pnpm-lock.yaml
Due: prettier --write, pnpm widget lint --fix

build: bump version
  packages/zeus-stack-widget/package.json
Due: prettier --write

build: bump version to `0.2.0`
  packages/bitcoin-kit-widget/package.json
Due: prettier --write

build: bump version to `0.1.7`
  packages/zeus-stack-widget/package.json
Due: prettier --write

fix: make up the missing changes from the main branch
  apps/zeus-widget-demo/src/app/components/Footer.tsx
  apps/zeus-widget-demo/src/app/components/Header.tsx
  apps/zeus-widget-demo/src/app/components/Icon/icons/Github.tsx
  apps/zeus-widget-demo/src/app/components/Icon/icons/index.ts
Due: prettier --write, pnpm demo lint --fix

chore: update wordings
  apps/zeus-widget-demo/src/app/components/Header.tsx
Due: prettier --write, pnpm demo lint --fix

build: bump version to 0.2.1
  packages/bitcoin-kit-widget/package.json
Due: prettier --write

feat: renaming gtm events
  packages/bitcoin-kit-widget/src/utils/gtm.ts
Due: prettier --write

build: bump version to `0.2.2`
  packages/bitcoin-kit-widget/package.json
Due: prettier --write

feat: adjust infrastructure fee to a dynamic value
  packages/bitcoin-kit-widget/src/features/withdraw/WithdrawDetails.tsx
  packages/bitcoin-kit-widget/src/features/withdraw/ZBtcInputField.tsx
  packages/client/src/apis/hermes.schema.ts
  packages/client/src/constants/fees.ts
  packages/client/src/layers/withdraw.service.ts
  packages/client/src/utils/calculateFee.ts
  packages/client/src/utils/index.ts
Due: prettier --write, pnpm client lint --fix

feat: adjust infrastructure fee to a dynamic value (#38)
  packages/bitcoin-kit-widget/src/features/withdraw/WithdrawDetails.tsx
  packages/bitcoin-kit-widget/src/features/withdraw/ZBtcInputField.tsx
  packages/client/src/apis/hermes.schema.ts
  packages/client/src/constants/fees.ts
  packages/client/src/layers/withdraw.service.ts
  packages/client/src/utils/calculateFee.ts
  packages/client/src/utils/index.ts
Due: prettier --write, pnpm client lint --fix

build: bump version to `0.2.3`
  packages/bitcoin-kit-widget/package.json
Due: prettier --write

feat: use wallet provided address to avoid p2tr conversion
  apps/playground/src/app/components/Modals/ClaimTestnet.tsx
  packages/bitcoin-kit-widget/src/features/deposit/DepositDetails.tsx
  packages/bitcoin-kit-widget/src/features/withdraw/BitcoinAddressInput.tsx
  packages/bitcoin-kit-widget/src/hooks/useSatoshiBalance.ts
  packages/bitcoin-wallet-adapter/src/components/BitcoinWalletProvider.tsx
  packages/bitcoin-wallet-adapter/src/contexts/BitcoinWalletContext.tsx
  packages/client/src/apis/aegle.ts
  packages/client/src/errors/errors.ts
  packages/client/src/layers/deposit.service.ts
  packages/client/src/types/types.ts
  packages/client/src/utils/bitcoin.ts
Due: prettier --write, pnpm client lint --fix, pnpm bitcoin lint --fix

feat: enforce p2tr address type requirement
  packages/client/src/layers/deposit.service.ts
Due: prettier --write, pnpm client lint --fix

fix: correct mainnet zpl program addresses
  packages/client/src/programs/zpl.ts
Due: prettier --write, pnpm client lint --fix

chore: adjust fallback value for connection endpoint
  apps/playground/src/app/components/AppProvider.tsx
Due: prettier --write

fix: correct mainnet zpl program addresses (#42)
  apps/playground/src/app/components/AppProvider.tsx
  packages/client/src/programs/zpl.ts
Due: prettier --write, pnpm client lint --fix

fix: correct api urls for mainnet
  packages/client/src/apis/aegle.ts
  packages/client/src/apis/ares.ts
  packages/client/src/apis/hermes.ts
Due: prettier --write, pnpm client lint --fix

feat: add delay before announce edra creation
  packages/client/src/models/edra.ts
Due: prettier --write, pnpm client lint --fix

fix: remove array from signPSBT in Phantom
  packages/bitcoin-wallet-adapter/src/connectors/phantomMainnet.ts
Due: prettier --write, pnpm bitcoin lint --fix

fix: correct api urls for mainnet (#43)
  packages/client/src/apis/aegle.ts
  packages/client/src/apis/ares.ts
  packages/client/src/apis/hermes.ts
  packages/client/src/models/edra.ts
Due: prettier --write, pnpm client lint --fix

fix: remove array from signPSBT in Phantom (#44)
  packages/bitcoin-wallet-adapter/src/connectors/phantomMainnet.ts
Due: prettier --write, pnpm bitcoin lint --fix

feat: correct on and removeListener functions to connectors
  packages/bitcoin-wallet-adapter/src/connectors/okxMainnet.ts
  packages/bitcoin-wallet-adapter/src/connectors/okxTestnet.ts
  packages/bitcoin-wallet-adapter/src/connectors/phantomMainnet.ts
  packages/bitcoin-wallet-adapter/src/connectors/xverse.ts
  packages/bitcoin-wallet-adapter/src/types/wallet.ts
Due: prettier --write, pnpm bitcoin lint --fix

feat: add effect to auto disconnect when account changed
  packages/bitcoin-wallet-adapter/src/components/BitcoinWalletProvider.tsx
Due: prettier --write, pnpm bitcoin lint --fix

Update packages/bitcoin-wallet-adapter/src/components/BitcoinWalletProvider.tsx
  packages/bitcoin-wallet-adapter/src/components/BitcoinWalletProvider.tsx
Due: prettier --write, pnpm bitcoin lint --fix

chore: remove unused delay
  packages/bitcoin-wallet-adapter/src/components/BitcoinWalletProvider.tsx
Due: prettier --write, pnpm bitcoin lint --fix

feat: add effect to auto disconnect when account changed (#45)
  packages/bitcoin-wallet-adapter/src/components/BitcoinWalletProvider.tsx
  packages/bitcoin-wallet-adapter/src/connectors/okxMainnet.ts
  packages/bitcoin-wallet-adapter/src/connectors/okxTestnet.ts
  packages/bitcoin-wallet-adapter/src/connectors/phantomMainnet.ts
  packages/bitcoin-wallet-adapter/src/connectors/xverse.ts
  packages/bitcoin-wallet-adapter/src/types/wallet.ts
Due: prettier --write, pnpm bitcoin lint --fix

feat: add network validation for bitcoin connectors preventing mismatch network
  apps/playground/src/app/components/Modals/ClaimTestnet.tsx
  packages/bitcoin-kit-widget/src/components/BitcoinWalletSelector.tsx
  packages/bitcoin-kit-widget/src/features/deposit/DepositDetails.tsx
  packages/bitcoin-kit-widget/src/features/withdraw/BitcoinAddressInput.tsx
  packages/bitcoin-wallet-adapter/src/components/BitcoinWalletProvider.tsx
  packages/bitcoin-wallet-adapter/src/connectors/base.ts
  packages/bitcoin-wallet-adapter/src/connectors/deriveWallet.ts
  packages/bitcoin-wallet-adapter/src/connectors/injected.ts
  packages/bitcoin-wallet-adapter/src/connectors/muses.ts
  packages/bitcoin-wallet-adapter/src/connectors/okxMainnet.ts
  packages/bitcoin-wallet-adapter/src/connectors/okxTestnet.ts
  packages/bitcoin-wallet-adapter/src/connectors/phantomMainnet.ts
  packages/bitcoin-wallet-adapter/src/connectors/xverse.ts
Due: prettier --write, pnpm bitcoin lint --fix

feat: adjust function to get rpc endpoint
  apps/playground/src/app/components/AppProvider.tsx
  apps/playground/src/app/lib/utils.ts
Due: prettier --write

feat: use wallet provided address to avoid p2tr conversion (#41)
  apps/playground/src/app/components/AppProvider.tsx
  apps/playground/src/app/components/Modals/ClaimTestnet.tsx
  apps/playground/src/app/lib/utils.ts
  packages/bitcoin-kit-widget/src/components/BitcoinWalletSelector.tsx
  packages/bitcoin-kit-widget/src/features/deposit/DepositDetails.tsx
  packages/bitcoin-kit-widget/src/features/withdraw/BitcoinAddressInput.tsx
  packages/bitcoin-kit-widget/src/hooks/useSatoshiBalance.ts
  packages/bitcoin-wallet-adapter/src/components/BitcoinWalletProvider.tsx
  packages/bitcoin-wallet-adapter/src/connectors/base.ts
  packages/bitcoin-wallet-adapter/src/connectors/deriveWallet.ts
  packages/bitcoin-wallet-adapter/src/connectors/injected.ts
  packages/bitcoin-wallet-adapter/src/connectors/muses.ts
  packages/bitcoin-wallet-adapter/src/connectors/okxMainnet.ts
  packages/bitcoin-wallet-adapter/src/connectors/okxTestnet.ts
  packages/bitcoin-wallet-adapter/src/connectors/phantomMainnet.ts
  packages/bitcoin-wallet-adapter/src/connectors/xverse.ts
  packages/bitcoin-wallet-adapter/src/contexts/BitcoinWalletContext.tsx
  packages/client/src/apis/aegle.ts
  packages/client/src/errors/errors.ts
  packages/client/src/layers/deposit.service.ts
  packages/client/src/types/types.ts
  packages/client/src/utils/bitcoin.ts
Due: prettier --write, pnpm client lint --fix, pnpm bitcoin lint --fix

build: bump version to `0.2.4`
  packages/bitcoin-kit-widget/package.json
Due: prettier --write
